MONGODB_URI=
HELIUS_API_KEY=
SIWS_DOMAIN=
SIWS_URI=
SPORE_PROGRAM_ID=
SPORE_SOLANA_CLUSTER=mainnet
HELIUS_WEBHOOK_AUTH=
SPORE_DEVNET_TEST_SGT_MINT_AUTHORITY=
SPORE_DEVNET_TEST_SGT_METADATA_ADDRESS=
SPORE_DEVNET_TEST_SGT_GROUP_ADDRESS=
